:host {
  mat-drawer-content {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
  }

  mat-drawer {
    padding:45px;
    min-width: 300px;
  }

  .drawer__header {
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center start;
    gap:60px;
    margin-bottom: 60px;

    h1 {
      margin:0;
      padding:0;
    }
  }

  button[mat-fab] {
    position: absolute;
    bottom: 45px;
    right: 45px;
    box-sizing: border-box;
    z-index: 1;
  }

  form {
    display: block;
    margin-bottom: 60px;
  }

}
